# -------------------------
# Python / environment
# -------------------------
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/
.ipynb_checkpoints/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Raw / per-run outputs
# -------------------------
# Ignore all generated experiment run folders
results/phase_diagram/*
*.npz
*.tar.gz

#Ignore logs
pbs_logs/*

# Keep aggregate / summary outputs
!results/phase_diagram/aggregates/
!results/phase_diagram/aggregates/**

# Keep config files anywhere inside results
!results/phase_diagram/**/*.json
!results/phase_diagram/**/*.yaml
!results/phase_diagram/**/*.yml

# -------------------------
# Data
# -------------------------
# Ignore raw datasets
data/raw/
data/intermediate/

# Keep processed/aggregate datasets if you want
!data/aggregates/
!data/aggregates/**

# -------------------------
# Configs
# -------------------------
# Always keep config files tracked
!src/configs/
!src/configs/**
!**/*.json
!**/*.yaml
!**/*.yml
